<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://cxf.apache.org/jaxrs
		   http://cxf.apache.org/schemas/jaxrs.xsd
		   http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config/>
	
	<!-- JAX-RS server -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-http.xml" /> 
    <import resource="classpath:META-INF/cxf/cxf-extension-http-jetty.xml" /> 
	
	<!-- cache -->
	<bean id="mongoTemplate" class="fmi.uni.grading.server.ServerCache" factory-method="getMongoTemplate" />
	
	<!-- JAX-RS server -->
	<bean id="jaxrsServer" class="org.apache.cxf.jaxrs.JAXRSServerFactoryBean">
		<property name="serviceBeans">
			<list>
				<ref bean="graderService" />
				<ref bean="tutorialService" />
				<ref bean="userService" />
			</list>
		</property>
		<property name="providers">
			<list>
				<bean class="org.apache.cxf.jaxrs.provider.json.JSONProvider" />				
				<bean class="fmi.uni.grading.shared.exceptions.handlers.server.ServerExceptionHandler" />
			</list>
		</property>
	</bean>
		
	<!-- services -->
	<bean id="graderService" class="fmi.uni.grading.server.services.GraderService" />
	<bean id="tutorialService" class="fmi.uni.grading.server.services.TutorialService" />
	<bean id="userService" class="fmi.uni.grading.server.shared.services.UserService" />

	<!-- DAOs -->
	<bean id="userDAO" class="fmi.uni.grading.server.shared.db.UserDAO" />
  	<bean id="graderDAO" class="fmi.uni.grading.server.db.GraderDAO" />
  	<bean id="tutorialDAO" class="fmi.uni.grading.server.db.TutorialDAO" />
	
<!-- 	 <mongo:mongo host="localhost" port="27017"/> -->
  
<!--   <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"> -->
<!--     <constructor-arg ref="mongo"/> -->
<!--     <constructor-arg name="databaseName" value="geospatial"/> -->
<!--   </bean> -->
	
<!-- 	<bean id ="jaxrsServer" class="org.apache.cxf.jaxrs.JAXRSServerFactoryBean"/> -->
	
<!--   <bean id="petStore" -->
<!--         class="org.springframework.samples.jpetstore.services.PetStoreServiceImpl"> -->
<!--     <property name="accountDao" ref="accountDao"/> -->
<!--     <property name="itemDao" ref="itemDao"/> -->
<!--   </bean> -->
		
	
<!--     <bean id="securityInterceptor" class="BasicAuthAuthorizationInterceptor"> -->
<!--       <property name="users">  -->
<!--         <map> -->
<!--           <entry key="username" value="password"/> -->
<!--         </map> -->
<!--       </property> -->
<!--     </bean> -->

<!--     <bean id="service" class="sample.Service"/> -->
    
<!--     <jaxws:endpoint -->
<!--       id="serviceEndpoint"  -->
<!--       implementor="#service" -->
<!--       address="${services.url}/Service"> -->
<!--       <jaxws:inInterceptors> -->
<!--         <ref bean="securityInterceptor"/> -->
<!--       </jaxws:inInterceptors> -->
<!--     </jaxws:endpoint> -->
		
</beans>
