<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://cxf.apache.org/jaxrs
		   http://cxf.apache.org/schemas/jaxrs.xsd
		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config/>
	
	<!-- JAX-RS server -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-http.xml" /> 
    <import resource="classpath:META-INF/cxf/cxf-extension-http-jetty.xml" /> 
	
	<!-- cache -->
	<bean id="mongoTemplate" class="fmi.uni.grading.repository.RepositoryCache" factory-method="getMongoTemplate" />
		
	<bean id="jaxrsServer" class="org.apache.cxf.jaxrs.JAXRSServerFactoryBean">
		<property name="serviceBeans">
			<list>
				<ref bean="articleService" />
				<ref bean="categoryService" />
				<ref bean="problemService" />
				<ref bean="userService" />
			</list>
		</property>
		<property name="providers">
			<list>
				<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
				<bean class="fmi.uni.grading.shared.exceptions.handlers.server.ServerExceptionHandler" />
			</list>
		</property>
	</bean>

<!-- services -->
	 
  	<bean id="articleService" class="fmi.uni.grading.repository.services.ArticleService" />
	<bean id="categoryService" class="fmi.uni.grading.repository.services.CategoryService" />
  	<bean id="problemService" class="fmi.uni.grading.repository.services.ProblemService" />
	<bean id="userService" class="fmi.uni.grading.server.shared.services.UserService" />

<!-- DAOs -->

  <bean id="articleDAO" class="fmi.uni.grading.repository.db.ArticleDAO" />
  <bean id="categoryDAO" class="fmi.uni.grading.repository.db.CategoryDAO" />
  <bean id="problemDAO" class="fmi.uni.grading.repository.db.ProblemDAO" />
  <bean id="userDAO" class="fmi.uni.grading.server.shared.db.UserDAO" />

<!-- 	 <mongo:mongo host="localhost" port="27017"/> -->
  
<!--   <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"> -->
<!--     <constructor-arg ref="mongo"/> -->
<!--     <constructor-arg name="databaseName" value="geospatial"/> -->
<!--   </bean> -->
	
<!-- 	<bean id ="jaxrsServer" class="org.apache.cxf.jaxrs.JAXRSServerFactoryBean"/> -->
	
<!--   <bean id="petStore" -->
<!--         class="org.springframework.samples.jpetstore.services.PetStoreServiceImpl"> -->
<!--     <property name="accountDao" ref="accountDao"/> -->
<!--     <property name="itemDao" ref="itemDao"/> -->
<!--   </bean> -->
		
	
<!--     <bean id="securityInterceptor" class="BasicAuthAuthorizationInterceptor"> -->
<!--       <property name="users">  -->
<!--         <map> -->
<!--           <entry key="username" value="password"/> -->
<!--         </map> -->
<!--       </property> -->
<!--     </bean> -->

<!--     <bean id="service" class="sample.Service"/> -->
    
<!--     <jaxws:endpoint -->
<!--       id="serviceEndpoint"  -->
<!--       implementor="#service" -->
<!--       address="${services.url}/Service"> -->
<!--       <jaxws:inInterceptors> -->
<!--         <ref bean="securityInterceptor"/> -->
<!--       </jaxws:inInterceptors> -->
<!--     </jaxws:endpoint> -->
	
</beans>
